.card-wrapper {
    padding: 1rem;
    border: 1px solid gray('200');
    border-radius: 4px;
}

.progress-container {
    position: relative;
    
    .progress-bar-wrapper {
        width: 100%;
        height: 90%;
    }

    #progress-bar {
        width: 155px;
        height: 170px;
    }

    .progress-content {
        position: absolute;
        display: block;
        width: 5rem;
        bottom: 10%;
        left: calc(50% - (5rem/2));

        text-align: center;
        .progress-title {
            font-size: .9rem;
            color: gray('500');
        }
    
        .current-goal-value {
            font-size: 2.5rem;
            line-height: 2.5rem;
            margin-bottom: 1.5rem;
        }
    
        .goal-target {
            font-size: .9rem;
            font-weight: 700;
        }
    
    }
}

.missing-achievement {
    font-weight: 700;
}

.alert-secondary {
    font-size: .8rem;

    .current-streak,
    .best-streak {
        font-size: 1.2rem;
        font-weight: 700;  
    }

}

.leaderboard-header,
.widget-header {
    font-size: .9rem;
    font-weight: 500;
    color: color('blue');
}

.leaderboard-list {

    .position {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2em;
        height: 2em;
        border: 2px solid color('green');
        border-radius: 50%;
        color: color('green');
    }

    .list-group-item {

        &.active-user {
            .activity-icon {
                display: block;
                width: 1em;
                height: 1em;
                background: url('../img/arrow_green.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

        }

        &:not(.active-user) {
            .position {
                border-color: gray('500');
                color: gray('500');
            }

            .activity-icon {
                display: block;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background-color: gray('500');
            }
        }

        &.current-user {
            background-color: color('green');
            color: color('white');

            .position {
                border-color: color('white');
                color: color('white');
            }

            &.active-user {
                .activity-icon {
                    display: block;
                    width: 1em;
                    height: 1em;
                    background: url('../img/arrow_white.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}